[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pillow = "*"
undetected-chromedriver = "*"
pytesseract = "*"
opencv-python = "*"
numpy = "*"
webdriver-manager = "*"
selenium = "*"
ultralytics = "*"
easyocr = "*"
paddlepaddle = "*"
paddleocr = "*"

[dev-packages]

[requires]
python_version = "3.11"
